@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Source Sans 3", system-ui, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}

.card {
  transition: ease 0.3s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.footer-links:hover {
  cursor: pointer;
  text-decoration: underline;
}
